EmployeeLibrary/EmployeeClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_saveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:saveUser" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_saveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getName_InputMessage">
    <wsdl:part name="parameters" element="tns:getName" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addInncome_InputMessage">
    <wsdl:part name="parameters" element="tns:addInncome" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addInncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:addExpense" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:addExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addOwnIncomeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:addOwnIncomeCategory" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addOwnIncomeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:addOwnIncomeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getOwnIncomeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:getOwnIncomeCategory" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getOwnIncomeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOwnIncomeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:addTransaction" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_addTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="saveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/saveUser" message="tns:IEmployeeService_saveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/saveUserResponse" message="tns:IEmployeeService_saveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/login" message="tns:IEmployeeService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/loginResponse" message="tns:IEmployeeService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getName" message="tns:IEmployeeService_getName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getNameResponse" message="tns:IEmployeeService_getName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/addInncome" message="tns:IEmployeeService_addInncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/addInncomeResponse" message="tns:IEmployeeService_addInncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/addExpense" message="tns:IEmployeeService_addExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/addExpenseResponse" message="tns:IEmployeeService_addExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addOwnIncomeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/addOwnIncomeCategory" message="tns:IEmployeeService_addOwnIncomeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/addOwnIncomeCategoryResponse" message="tns:IEmployeeService_addOwnIncomeCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOwnIncomeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getOwnIncomeCategory" message="tns:IEmployeeService_getOwnIncomeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getOwnIncomeCategoryResponse" message="tns:IEmployeeService_getOwnIncomeCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/addTransaction" message="tns:IEmployeeService_addTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/addTransactionResponse" message="tns:IEmployeeService_addTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveUser">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/saveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/getName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInncome">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/addInncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExpense">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/addExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOwnIncomeCategory">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/addOwnIncomeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnIncomeCategory">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/getOwnIncomeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTransaction">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/addTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EmployeeLibrary/EmployeeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>