EmployeeLibrary/EmployeeClient/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="saveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ln" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>